<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <script defer src="Js/main.js"></script>
    <script defer src="Js/Interacciones/CrearInteraccion.js"></script>
    <title>Crear Interaccion</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" id="a-nombre" href="">Listar Cliente</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>
        </div>
    </nav>
    <main class="container">
        <section class="row">
            <article class="Form">
                <div class="card">
                    <div class="card-header">
                      Agregar Interaccion
                    </div>
                    <div class="card-body mb-3">
                        <form class="interaction-form">
                    <div class="mb-3">
                        <div class="form-text">Ingresar nota </div>
                        <input type="textarea" id="Note" placeholder="Nombre" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <div class="form-text">Ingresar la fecha del registro</div>
                        <input type="date" id="CreatedAt" placeholder="Fecha de creación" class="form-control" required>
                     </div>
                    <div class="mb-3">
                        <div class="form-text"></div>
                        <input type="hidden" id="User" placeholder="Direccion" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <div class="form-text"></div>
                        <input type="hidden" id="Customer" placeholder="Direccion" class="form-control" required>
                    </div>
                        <br>
                        <input type="submit" id="enviar" class="btn btn-primary" value="enviar">
                    </div>
                </form>
            </article>
        </section>
    </main>
   
</body>
</html>