<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script defer src="/Js/main.js"></script>
    <script defer src="/Js/Interacciones/ListadoInteracciones.js"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" id="a-nombre" href=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="" id="a-Listar-Clientes">Lista Clientes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        <section class="row">
            <article class="col">
                <table class="table table-light" id="listado-interaccion">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nota</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody id="listado-interaccion">
                     
                    </tbody>
                  </table>
            </article>
        </section>
    </main>
</body>
</html>

