<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script defer src="/Js/main.js"></script>
    <script defer src="/Js/Cliente/ListadoCliente.js"></script>
    <title>Listado Cliente</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" id="a-nombre" href=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" id="a-agregar">Agregar Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="a-interaccion">Interacciones</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <section>
        <article>
            <div class="card mx-auto" style="min-width: 200px; max-width: 500px;"  id="listado-clientes">
                <div class="container d-flex flex-row"></div>

                <div class="card-header">
                  Listado Cliente
                </div>                
              </div>
        </article>
    </section>
</main>
</html>