<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <script defer src="Js/main.js"></script>
    <script defer src="Js/Security/Register.js"></script>
    <title>Registrar</title>
</head>
<body></body>
       <section>
        <article class="Form">
            <form class="Register-form">
                <main class="container mt-5 pt-5">
                    <section class="row">
                        <div class="col-12 col-sm-7 col-md-6 m-auto">
                        <article class="Form">
                            <div class="card border-0 shadow">
                                <div class="card-header">
                                  Login
                                </div>
                                <div class="card-body mb-1">
                                    <form class="cliente-form">
                                <div class="mb-3">
                                    <div class="form-text">Ingresar el nombre del propietario del Usuario</div>
                                    <input type="text" id="Name" placeholder="Nombre" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <div class="form-text">Ingresar nombre de usuario</div>
                                    <input type="text" id="UserName" placeholder="Nombre de usuario" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <div class="form-text">Ingresar contraseña del usuario</div>
                                    <input type="text" id="Password" placeholder="Contraseña" class="form-control" required>
                                </div>
                                    <input type="submit" id="enviar" class="btn btn-primary btn-lg" value="Guardar">
                                </div>
                        </div>
                    </section>
                </main>
            </form>
        </article>
    </section>


</body>
</html>